* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.fixed-container {
    width: 1200px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-white {
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.clear-float {
    content: "";
    clear: both;
    display: table;
}

/* Top Navbar start */
.header-section {
    background: url(images/header_bg.png);
    height: 123px;
    /* background-color: #111111;
    height: 108px;
    position: relative; */
}

.header-title {
    margin: 25px 0 25px 0;
    float: left;
    width: 50%;
}

.header-title img {
    width: 65px;
}


.header-title ul {
    display: inline-block;
}

.icon {
    float: left;
}

.header-subject {
    float: left;

}

.header-title a {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 14px 0 14px 13px;
}

.toggler-icon {
    float: right;
    margin-right: 18px;
}

.header-navigations {
    margin: 20px 0 16px 0;
    float: left;
    width: 50%;

}

.header-contact {
    /* margin: 19px 0px 12px 343px; */
    margin: 0 19px 12px 343px;

}

.header-contact a {
    display: inline-block;
    font-size: 30px;
}

.header-contact span {
    font-weight: 600;
}

.header-options {
    padding-left: 30px;
}

.link-style li {
    display: inline-block;
}

.link-style a {
    display: inline-block;
    padding: 6px 19px;
    text-transform: capitalize;
    font-size: 19px;
    line-height: 28px;
}

/* Banner Container */

.banner-section {
    background: url(images/body_bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 882px;
}

.banner-background-small {
    background: url(images/body_bg.jpg)no-repeat;
    min-height: 882px;
    background-size: 1100px;
    background-position-x: -94px;
}

.form-background-image {
    background: url(images/container_bg.png)no-repeat;
    /* background-size: cover; */
    background-position: center;
    /* width: 470px; */
    height: 893px;
}

.banner-heading-left {
    float: left;
    width: 60%;
    position: relative;
}

.top-description-left {
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0 65px;
    margin: 120px 0 0 0;
    letter-spacing: 1px;

}

.bottom-description-left {
    position: absolute;
    bottom: 0px;
    /* left: 54px; */
    text-transform: capitalize;
    padding-left: 65px;
    font-size: 18px;
}

/* right */
.banner-form-right {
    float: left;
    width: 40%;
}

.form-width {
    padding: 18px 63px 6px 63px;
}

.form-width img {
    width: 65px;
}

.form-title {
    margin: 7px 0px;
}

.form-title img {
    float: left;
}

.form-title div {
    float: left;
}

.form-description {
    font-size: 18px;
    text-transform: capitalize;
    color: #e3e3e3;
    margin-bottom: 14px;
}

.form-width label {
    text-transform: capitalize;

}

.set-inner-margin {
    margin: 18px 0 18px 15px;
    font-size: 26px;
    text-transform: capitalize;
    font-weight: 600;
}


.input-field {
    width: 100%;
    height: 46px;
    border: none;
    margin: 4px 0 17px 0;
}

.download-guide {
    position: relative;
    background-color: #333333;
    padding: 18px;
    margin: 17px 0 17px 0px;

}

.download-guide span {
    font-size: 28px;
    text-transform: uppercase;
}

.download-guide img {
    position: absolute;
    right: 14px;
    top: 19px;
}

.bottom-description {
    font-size: 18px;
    text-transform: capitalize;
    color: #e3e3e3;
}

/* About Us */
.about-us-section {
    background-color: #60a32f;
    padding: 45px 0;
}

.about-us-heading,
.client-heading {
    float: left;
}

.about-us-heading a,
.client-heading a {
    font-size: 62px;
    text-transform: capitalize;
}

.about-us-image,
.client-image {
    float: right;
    margin: 12px 0 7px 0;

}

.about-us-image img,
.client-image img {
    float: left;
    width: 48px;

}

.about-us-image ul,
.client-image ul {
    float: left;
}

.about-us-image a,
.client-image a {
    display: inline-block;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 8px 0 8px 13px;
}

/* about card description */
.card {
    float: left;
    width: 33.33%;
    padding: 34px 0px;

}

.card-icon {
    height: 80px;
    margin-bottom: 8px;

    position: relative;
}

.card img {
    padding: 0 132px;
    position: absolute;
    bottom: 0;
}

.card-description-bold {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 21px;
    height: 84px;

}

.card-description-small {
    font-size: 21px;
    padding-right: 69px;
    height: 111px;
    text-transform: capitalize;
}

/* client section */
.client-section {
    padding: 45px 0;
}

.client-card {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 21px;

}

.client-profile {
    margin: 51px 0 25px 0;

}

.client-credential {
    margin-bottom: 23px;
}

.client-name-bold {
    color: #60a32f;
    font-weight: 600;
    text-transform: uppercase;
}

.client-name {
    font-weight: 600;
    text-transform: capitalize;
}

.client-description{
    padding: 0 46px;
    height: 223px;

}


/* media query */
/* smaller than */
@media only screen and (max-width: 576px) {

    /* Header section */
    .header-navigations {
        display: none;
    }

    .fixed-container {
        width: 100%;
        /* margin: 0 auto; */
    }

    .header-title {
        margin: 24px 0 0 0;
        padding-left: 22px;
        float: left;
        width: 100%;
    }


    .header-title a {
        float: left;
        font-size: 32px;
        font-weight: 500;
        text-transform: capitalize;
        margin: 14px 0 14px 13px;
    }

    .header-title img {
        width: 60px;
    }

    /* Banner section */

    .top-description-left {
        font-size: 33px;
        padding: 0px 35px;
        margin: 63px 0 0 0;
    }

    .bottom-description-left {
        font-size: 16px;
        letter-spacing: -1px;
        padding: 0 0 20px 28px;
    }

    .banner-section {
        background-image: none;
    }

    .banner-background-small {
        min-height: 687px;
    }


    .banner-heading-left {
        width: 100%;
    }


    .banner-form-right {
        width: 100%;
    }

}

/* greater than */
@media only screen and (min-width: 576px) {
    .toggler-icon {
        display: none;
    }

    .banner-background-small {
        background-image: none;
    }
}

/* for right form */
@media only screen and (max-width: 425px) {
    .form-width {
        padding: 18px 40px 6px 40px;
    }
}